---
const { title } = Astro.props;
import Sidebar from "../components/Sidebar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen m-0 flex">
    <Sidebar />
    <main class="flex-1">
      <slot />
    </main>
  </body>
</html>
